[submodule "tests/components/esp-wolfssl"]
	path = tests/components/esp-wolfssl
	url = https://github.com/espressif/esp-wolfssl.git
[submodule "tests/lib/_mittelib"]
	path = tests/lib/_mittelib
	url = git@git.mittelab.org:proj/mittelib.git
