# Platformio stuff
.pio
platformio.ini
libspookyaction/examples/*.bin

# Docs
docs/_build
docs/api
docs/build.log


# Projects file formats
.idea
.vscode

# Specific files for esp-idf
sdkconfig
sdkconfig.old
__pycache__
build

coverage_report